.header{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    height: 75px;
    border: 1px solid black;
    background: #009966;
}
.pages{
    margin-right: auto;
    margin-left: auto;
    width: 1500px;
}
.photo{
    margin-left: auto;
    margin-top: 5px;
    margin-right: 10px;
    height: 450px;
    width: 1200px ;
    border: 1px solid black;
    background: skyblue;
    float: left;
    display: flex;
    flex-wrap: wrap;    
}
.sidebar{
    margin-top: 5px;
    margin-right: auto;
    height: 450px;
    width: 286px;
    border: 1px solid black;
    background: silver;
    float: left;
}
#denchik{
    margin-top: 20px;
    margin-left: 40%;
    margin-right: auto;
    font-size: 25px;
    font-family: serif;
    font-style: oblique;
}
.foot {
    clear:both;
    }
    .foot2 {
        clear:both;
        }
.img1{
    float: left;
     max-width: 100%; 
     height: 300px;
     display: block;
     margin-top: 35px;
     margin-right: initial;
     margin-left: 80px;
     border: 5px double rgb(146, 0, 0);
}
.footer{
    margin-top: 5px;
    width: 1500px;
    height: 100px;
    border: 1px solid black;
    background: #009966;
    
}
.footer2{
    margin-top: 5px;
    width: 1500px;
    height: 50px;
    border: 1px solid black;
    background: #00312179;
    display: flex;
    flex-wrap: wrap;
    
}
#viz{
    margin-top: 20px;
    margin-left: 49%;
    margin-right: auto;
    font-size: 25px;
    font-family: serif;
    font-style: oblique;
}
#viz1{
    font-family: sans-serif;
    font-style: oblique;
}
#inf1{
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    color: crimson;
}
#inf2{
    text-decoration: underline;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    color: red;
}
#autor{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px; 
    font-size: 18px;
    color: rgb(100, 1, 1);
}
#autor1{
text-decoration: none;
}
#autor1:hover{
    color: black;
    text-decoration: underline;
}
#autor1:visited{
    color: black;
    text-decoration: none;
}
#back{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 85%;
    font-size: 18px;
    color: black;
}
#gall1{
    text-decoration: none;  
}
#gall1:hover{
    color: black;
    text-decoration: underline;
}
#gall1:visited{
    color: black;
    text-decoration: none;
}